<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
  </head>
  <body>
    <h2>Error Page for Logging In</h2>
    <div th:if="${not #lists.isEmpty(errors)}">
      <ul>
        <li th:each="error : ${errors}" th:text="${error.defaultMessage}">
          Error message
        </li>
      </ul>
    </div>
    <div th:if="${#lists.isEmpty(errors)}">
      <p>No errors found.</p>
    </div>
  </body>
</html>
